@charset "utf-8";
body{
    margin: 0 auto;
}
header{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(249, 46, 56);
    color: white;
}
header h1{
    margin: 0;
}

main{
    min-height: 100vh;
    background-color: #fec;
    display: flex;
}
main h2{
    margin-top: 0;
    background-color: white;
    border-bottom: 40px solid orange;
}
.yogle h2{
    color: blue;
    margin-bottom: 0;
}
.remon h2{
    color: yellow;
    margin-bottom: 0;

}
.yogle{
    text-align: center;
    flex: 50%;
    background-color: blue;
 /* ドット（水玉）模様のCSS */
    background-color   :blue;
    background-image   : radial-gradient(#ffffff 36%, transparent 39%),
                         radial-gradient(#ffffff 36%, transparent 39%);
    background-position: 0 0, 0px 0px;
    background-size    : 60px 60px;
}
.remon{
    text-align: center;
    flex: 50%;
    background-color   :yellow;
    background-image   : radial-gradient(#ffffff 36%, transparent 39%),
                         radial-gradient(#ffffff 36%, transparent 39%);
    background-position: 0 600, 0px 0px;
    background-size    : 60px 60px;
}
.box1{
    /* align-items: flex-start; */
    border-top: 30px solid rgb(22, 227, 22);
    margin-bottom: 0;
}
.box2{
    /* align-items: flex-start; */
    border-top: 30px solid rgb(28, 195, 245);
    margin-bottom: 0;
}
/* .box_contain{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.box{
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}
.box img{
    width: 65%;
    height: 65%;
}
.list{
    list-style: none;
}
.balloon {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
  }
  .balloon .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
    margin-left: 50px;
  }
  .balloon .faceicon img{
    width: 100%;
    height: 100px;
    border: solid 3px orange;
    background-color: white;
    border-radius: 50%;
  } 
  .balloon .chatting {
    width: 100%;
  }
  .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: orange;
  }
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid orange;
  }
  .says p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5rem;
  }
aside h3{
    text-align: center;
    background-color: orange;
    color: white;
    margin: 0;
    padding: 5px 0;
}
aside{
    text-align: center;
}
footer{
    width: 100%;
    height: 30px;
    background-color: rgb(249, 46, 56);
    text-align: center;
    color: white;
}


@media screen and (max-width:480px) {
    main{
        flex-direction: column;
    }
    .yogle, .remon{
        width: 100%;
    }
}